*{
    margin: 0px;
    padding: 0px;
    font-family: Montserrat;
}

.nav-pannel {
    width: 220px;
    height: 712px;
    display: flex;
    justify-content: center;
    position: fixed;
    background-color: #05014A;
}

.pannel-options {
    height: 50px;
    width: 220px;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 20px;
}

.pannel-options i{
    margin-left: 30px;
    color: white;
}

.pannel-options li {
    list-style-type: none;
    margin-left: 10px;
    color: white;
}

.pannel-name{
    height: 150px;
    width: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pannel-name p{
    font-size: 23px; 
    color: white;
}

.nav-logo{
    height: 100px;
    width: 100px;
}

.nav-logo img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.pannel-name h2{
    font-weight: 400;
}

.nav-pannel a{
    text-decoration: none;
}

.invoice-center{
    position: relative;
    left: 222px;
    width: 1040px;
    height: auto;
    border: 1px solid black;
    top: 2px;
    /* background-color: red; */
}

.add-center{
    height: auto;
    width: 200px;
    /* background-color: aqua; */
}

.logo-center{
    height: 125px;
    width: 125px;
    margin-left: 10px;
}

.logo-center img{
    width: 125px;
    height: 125px;
    object-fit: cover;
    border-radius: 50%;
}

.add{
    height: auto;
    width: 180px;
    /* margin-top: 10px;
    margin-left: 10px; */
    margin: 10px;
}

.add-Name{
    font-size: 20px;
    font-weight: 500;
}

.center-info{
    position: absolute;
    top: 0px;
    right: 0px;
    /* background-color: yellow; */
    height: auto;
    width: auto;
    margin-top: 50px;
    margin-right: 30px;
}

.info-name{
    font-size: 30px;
    font-weight: 550;
}

.info-num{
    display: inline;
}

.info-date{
    display: inline;
}

.info-time{
    display: inline;
}

table{
    table-layout: fixed;
    text-align: center;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
}

thead{
    height: 40px;
    font-size: 20px;
    background-color: #05014A;
    color: white;
}

td{
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 6px;
}

.table-total{
    border: 1px solid black;
}